<h1>更新履歴</h1>
<br><br>
<table width = "715" border = "1" class = "table table-hover">
    <tr>
        <td width = "139" valign = "top">更新日</td>
        <td width = "100" valign = "top">Version</td>
        <td width = "466" valign = "top">内容</td>
    </tr>
    <tr>
        <td width = "139" valign = "top">2014.09.10</td>
        <td width = "100" valign = "top">Ver 0.30</td>
        <td width = "466" valign = "top6">フーリエ解析（暫定版）を作成, おまけ追加。</td>
    </tr>
    <tr>
        <td width = "139" valign = "top">2014.09.09</td>
        <td width = "100" valign = "top">Ver 0.20</td>
        <td width = "466" valign = "top">2次関数, 3次関数を作成。</td>
    </tr>
    <tr>
        <td width = "139" valign = "top">2014.09.08</td>
        <td width = "100" valign = "top">Ver 0.10</td>
        <td width = "466" valign = "top">1次関数を作成。</td>
    </tr>
</table>
