<h1>Test</h1>
<br>
<form class="well form-inline">
    y =
    <input style="width:50px;" type="number" class="input-mini" name = "a" step = "0.1" required>
    x +
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">Plot</button>
</form>

